# Supabase Environment Variables Example
NEXT_PUBLIC_SUPABASE_URL=https://udcsdzholfmwyjddelum.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_QrQfmJ75xcfC7RpW0oChCQ_OBVZRP9O

SUPABASE_URL=https://udcsdzholfmwyjddelum.supabase.co
SUPABASE_KEY=sb_publishable_QrQfmJ75xcfC7RpW0oChCQ_OBVZRP9O
SUPABASE_ANON_KEY=sb_publishable_QrQfmJ75xcfC7RpW0oChCQ_OBVZRP9O
